header {
    background-color: #456789;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 80%;
    border: 2px;
    border color: #000;













  }
  
